body {
    overflow: none;
    margin: 5px 15px;
    padding: 0;
    background-image: url(images/wallpaper.jpg);
}
header {
    position: fixed;
    z-index: 2;
}
h1 {
    box-sizing:border-box;
    width: 50%;
    border: 6px solid darksalmon;
    border-top-width: 8px;
    border-bottom-width: 4px;
    border-top-left-radius: 40%;
    border-bottom-right-radius: 50%;
    font-family: 'Pushster', cursive;
    font-size: 50px;
    text-align: center;
    padding: 30px auto; 
    position: fixed;
    display: inline-block;
    }
.label {
    display: inline-block;
    position: fixed;
    top: 5px;
    right: 15px;
    width: 45%;
    }
.label :visited {
    color: black;
}
.label :hover {
    color: orangered;
}
.label :focus {
    color: darksalmon;
}
a {
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: 15px;
    text-transform: uppercase;
    letter-spacing: 2px;   
    box-sizing: border-box; 
    text-decoration: none;
    }
button {
    margin: 5px;
    display: inline;
    float: right;
    border: 1.5px solid black;
}
.label li {
    list-style: none;
}
main {    
    position: relative;
    top: 210px;
    height: 677px;
    overflow: auto;
    z-index: 1;
}
.container {
    border: 5px double darksalmon;
    padding: 10px;
    margin: 10px auto;
}
h2 {
    text-align: center;
    letter-spacing: 1.5px;
}
.panel {
    border: 2px solid black;
    border-radius: 15%;
    display: inline-block;
    width: 19%;
    margin: auto;
    text-align: center;
    font-family: monospace;
    font-size: 20px;
    font-weight: bold;
}
.underline {
    text-decoration: underline;
}
#coral {
    background-color: coral;
}
#darksalmon {
    background-color: darksalmon;
}
#darkred {
    background-color: darkred;
}
#brown {
    background-color: brown;
}
#bisque {
    background-color: bisque;
}
#lobstertwo {
    font-family: 'Lobster Two';
}
#spaceMono {
    font-family: 'Space Mono', monospace;
}
#shizuru {
    font-family: 'Shizuru';
}
#oswald {
    font-family: 'Oswald', sans-serif;
}
#licorice {
    font-family: 'Licorice';
}
.normal {
    font-weight: 400;
}
.italic {
    font-weight: 100;
    font-style: italic;
}
.bold {
    font-weight: 800;
}
#textStyles {
    font-family: 'Merriweather', serif;
    bottom: 50px;
}
#one {
   font-weight: 800; 
   font-size: 30px;
   font-family: 'Merriweather', serif;
}
#two {
    font-weight: 700; 
    font-size: 26px;
    font-family: 'Merriweather', serif;
}
#three {
    font-weight: 600; 
    font-size: 22px;
    font-family: 'Merriweather', serif;
}
#four {
    font-weight: 500; 
    font-size: 18px;
    font-family: 'Merriweather', serif;
}
#paragraph {
    font-weight: 400; 
    font-size: 14px;
    font-family: 'Merriweather', serif;
}
#alert button,
#outline button,
#animated button,
#loading button {
    font-size: 15px;
    text-align: center;
    padding: 7px;
    border-radius: 15%;
    width: 70%;
    cursor: pointer;
}
#red {
    background-color: red;
}
#red:hover {
    background-color: orangered;
}
#yellow {
    background-color: yellow;
}
#yellow:hover {
    background-color: yellowgreen;
}
#green {
    background-color: green;
}
#green:hover {
    background-color: lime;
}
#danger {
    border-color: red;
    color: red;
}
#danger:hover {
    background-color: red;
    color: white;
}
#warning {
    border-color: yellow;
    color: yellow;
}
#warning:hover {
    background-color: yellow;
    color: white;
}
#go {
    border-color: green;
    color: green;
}
#go:hover {
    background-color: green;
    color: white;
}
#pressed {
    outline: none;
    color: #fff;
    background-color: rgb(91, 66, 231);
    border: none;
    box-shadow: 0 9px grey;
}  
#pressed:hover {
    background-color: blue;
}
#pressed:active {
    background-color: blue;
    box-shadow: 0 5px rgb(54, 54, 54);
    transform: translateY(4px);
}
#ripple {
    margin-top: 40px;
    background-color: purple;
    transition-duration: 0.4s;
}
#ripple:after {
    content: "";
    background: #90EE90;
    display: block;
    position: absolute;
    padding-top: 10%;
    padding-left: 20%;
    margin-left: -10px!important;
    margin-top: -5%;
    opacity: 0;
    transition: all 0.8s;
}  
#ripple:active:after {
    padding: 0;
    margin: 0;
    opacity: 1;
    transition: 0s;
}
#text button {
    border: none;
    border-radius: 15%;
    background-color: inherit;
    padding: 7px;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
    width: 75%;
}
  
#text button:hover {
    background: darksalmon;
}
#info {
    color: dodgerblue;
}
#default {
    color: black;
}
#more {
    color: crimson;
}
#baby {
  background-color: #89cff0;
}
#cornflower {
    background-color: #6495ed;
}
#true {
    background-color: #0073cf;
}
.fa {
    margin-left: -12px;
    margin-right: 8px;
}
#buttons button {
    float: none;
}
footer {
    font-weight: bold;
    text-align: center;
    position: fixed;
    z-index: 1;
    background-color: darksalmon;
    height: 45px; 
    bottom: 0px;
    right: 15px;
    left: 15px;
}



